body {
  background-image: url(./assets/astronomyBackground2.jpg);
  background-size: cover;
  text-align: center;
}

.profilePage{
  display: flex;
  flex-direction: row-reverse;
}

.profilePage button{
  margin-left:0px;
  margin-right: auto;
  background-color:#19323C ;
  height: 75px;
  width: 75px;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
  background-color: transparent;
  user-select: none;
}

#NextButton{
  background-color:#19323C;
  height: 60px;
  width: 55px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  outline: none;
  background-color: transparent;
  user-select: none;
}


.CProfileVisible,.SProfileVisible,.IProfileVisible,.DProfileVisible {
  display: block;
  background-color: #372176;
  color: white;
  margin-right: 0px;
  width: 60%;
  height: 60%;
  margin-left: auto;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 8px;
  border-style: double;
  padding-left: 8px;
  padding-right: 8px;
}

.CProfileVisible img,.SProfileVisible img,.IProfileVisible img,.DProfileVisible img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.CProfileVisible a,.SProfileVisible a,.IProfileVisible a,.DProfileVisible a{
  text-decoration: none;
  color: inherit;
}

.CProfileHidden,.SProfileHidden,.IProfileHidden,.DProfileHidden {
  display: none;
}

#apiBackButton, #apiNextButton {
  border-style: double;
  background-color: #19323C;
  color: #F2545B;
  border-radius: 25px;
}

.activities button {
  border-style: double;
  background-color: #19323C;
  color: #F2545B;
  border-radius: 25px;
}

#aboutMeTitle {
  color: white;
}

.AstronomyInfo img{
  height: 300px;
  width: 500px;
  box-shadow: 10px 10px 10px #19323C;
}

.AstronomyInfo {
  background-color: #152972;
  color: white;
  border-style: double;
  padding-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5px;
  padding-right: 5px;
}

.activities ul {
  list-style: none;
}

.activities {
  background-color: #152972;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 5px;
  box-shadow: 10px 10px 10px #372176;
}